KanbanBoardBackend/.vs/KanbanBoardBackend/FileContentIndex/7b8a7d37-0283-4a71-9290-51192fb7e404.vsidx
KanbanBoardBackend/.vs/KanbanBoardBackend/FileContentIndex/40b87bc5-2639-4e15-a093-81026c4fc0e9.vsidx
KanbanBoardBackend/.vs/KanbanBoardBackend/FileContentIndex/92a40e69-2cbf-4fb5-a368-0490b038a343.vsidx
KanbanBoardBackend/.vs/KanbanBoardBackend/FileContentIndex/4089fa8c-b33f-4c51-88e0-dc8e1f6c5fe6.vsidx
KanbanBoardBackend/.vs/KanbanBoardBackend/FileContentIndex/6306ff41-b113-4ac1-8e73-97d288352b58.vsidx
KanbanBoardBackend/.vs/KanbanBoardBackend/FileContentIndex/b8d18af2-3a90-4ac6-8a77-784e6f7e520f.vsidx
KanbanBoardBackend/.vs/KanbanBoardBackend/FileContentIndex/e135160f-60ef-4ed9-bd3a-5e11228b2e39.vsidx
KanbanBoardBackend/.vs/KanbanBoardBackend/FileContentIndex/fc1e9ad6-a5d5-4137-81ed-25a3e2e66235.vsidx
